:root {
    --container: 77.92%;
    --container--small: 66.25%;
    --scrollbar: 15px;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #000;
}

a {
    color: #000;
    text-decoration: none;
}

li {
    list-style-type: none;
}




/* General styles */

/* Hide scrollbar */
::-webkit-scrollbar {
    width: 0;
}


/* Stick footer to the bottom of the page */
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main {
    flex-grow: 1;
}

/* Main container */
.container {
    width: var(--container);
    margin: 0 auto;
    /* padding: 0 50px; */
}

.container--align--right {
    width: auto;
    margin-right: 0;
    padding-right: 0;
    /* margin-left: calc((100vw - var(--container) - var(--scrollbar)) / 2); */
    margin-left: calc((100vw - var(--container)) / 2);
}

.container--align--left {
    width: auto;
    margin-left: 0;
    padding-left: 0;
    margin-right: calc((100vw - var(--container) - var(--scrollbar)) / 2);
}

.container--small {
    width: var(--container--small);
}

/* Align first flex-item to the left, the rest - to the right */
.align-flex-item-left > :first-child {
    margin-right: auto;
}




/* Components */

/* Logo */
.logo__img {
    vertical-align: bottom;
}


/* Button */
.btn {
    min-width: 135px;
    padding: 11px 23px 10px;

    font-size: 14px;
    font-weight: bold;
    line-height: 19px;
    color: #fff;
    text-transform: uppercase;

    background: linear-gradient(180deg, #EB3F57 0%, #893944 100%);
    box-shadow: 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5);
    border-radius: 32px;
}

.btn:hover {
    background: #EB3F57;
    box-shadow: inset 1px 1px 2px rgba(170, 170, 204, 0.5), inset -1px -1px 2px #FFFFFF;
    border-radius: 40px;
}


/* Navigation menu */
.menu__list {
    display: flex;
    column-gap: 72px;
}

.menu__list-link {
    font-size: 20px;
    line-height: 27px;
    transition: color 0.25s;
}

.menu__list-link:hover {
    color: #EB3F57;
}

.menu__list-link,
.header__contact-btn {
    white-space: nowrap;
}


/* Titles */
.title,
.heading {
    font-style: normal;
    font-size: 36px;
    line-height: 49px;
    text-transform: uppercase;
}

.title {
    font-weight: 700;
    color: #EB3F57;
}

.heading {
    font-weight: 400;
    color: #454654;
}

.heading::after {
    content: url('images/general/heading-arrow.svg');
    display: block;
}


/* Text */
.text {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
    color: #000;
}

.text--small {
    font-size: 18px;
    line-height: 25px;
}

.text--color--white {
    color: #fff;
}


/* Media object */
.media {
    display: flex;
    column-gap: 110px;
}

.media__content {
    flex-basis: 40%;
}

.media__content-heading {
    padding-bottom: 40px;
}

.media__content-title {
    padding-bottom: 20px;
}

.media__content-text {
    padding-bottom: 30px;
}

.media__object {
    width: 50vw;
    max-width: 1020px;
    min-width: 500px;
    flex-shrink: 0;

    /* create new stacking context image gradient */
    position: relative;
    z-index: 1;
}

.media__object-img {
    width: 100%;
    vertical-align: bottom;

    /* move image behind gradient overlay */
    z-index: -1;
    position: relative;
}

.media__object-img-gradient {
    background: linear-gradient(115.09deg, rgba(235, 63, 113, 0.4) 2.42%, rgba(29, 16, 68, 0.4) 82.18%, rgba(18, 14, 66, 0.4) 89.41%);
}

.media__object-img,
.media__object-img-gradient {
    border-radius: 0 302px 0 302px;
}



/* Flipped media objects */

.flipped {
    flex-direction: row-reverse;
}

.flipped .media__object-img,
.flipped .media__object-img-gradient {
    border-radius: 302px 0 302px 0;
}

.flipped .heading {
    text-align: right;
}

.flipped .heading::after {
    transform: scaleX(-1);
    width: min-content;
    margin-left: auto;
}




/* Sections */


/* Header */
.header__inner {
    display: flex;
    align-items: flex-end;
    column-gap: 67px;
    padding: 12px 0 11px;
}

.main {
    background-color: #F5F5FA;
}


/* Footer */
.footer__top {
    border-bottom: 1px solid #F0EDED;
}

.footer__inner {
    display: flex;
    align-items: flex-start;
}

.footer__inner--top {
    padding: 16px 0 6px;
}

.footer__inner--bottom {
    padding: 3px 0 7px;
}

.footer__copyright,
.footer__address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}


/* Home page */
.home-heading {
    margin-top: -64px;
}


/* Top */
.top {

    /* Extra 100px for image bottom mask */
    height: calc(100vh + 20px);

    background: url('images/home/top-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
}

.top__wrapper {
    /* Extra 100px for image bottom mask */
    height: calc(100vh + 20px);
    background: linear-gradient(104.58deg, rgba(235, 63, 94, 0.6) -2.26%, rgba(17, 8, 67, 0.6) 47.46%);
}

.top__inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 85vh;
    padding: 0 50px;
    max-width: 1070px;
    margin: 0 auto;
}

.top__arrow {
    cursor: pointer;
}

.top__title,
.top__arrow {
    margin-top: auto;
}

.top__title {
    padding-bottom: 8px;
}

.top__text {
    padding-bottom: 46px;
}

.top__img-mask {
    display: block;
    width: 100%;
    margin-top: -5.3%;
}


/* Introduction */
.intro {
    padding: 130px 0 140px;
}

/* About */
.about {
    padding: 130px 0 140px;
}

.about__list-item {
    position: relative;
}

.about__list-item + .about__list-item {
    padding-top: 73px;
}

/* Use svg icons as custom list item bullets */
.about__list-item:nth-child(1)::before {
    content: url('images/home/about-list-icon1.svg');
}

.about__list-item:nth-child(2)::before {
    content: url('images/home/about-list-icon2.svg');
}

.about__list-item::before {
    position: absolute;
    left: -155px;
}

.about__sub-title {
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;

    padding-bottom: 12px;
}

.about .media {
    column-gap: 320px;
}


/* Products */
.products {
    padding-bottom: 125px;
}

.products__heading {
    padding: 87px 0 45px;
}

.products__inner {
    display: flex;
    gap: 80px;
}

.product__card {
    width: 368px;
}

.product__card:nth-child(even) {
    margin-top: 100px;
}

.product__icon {
    height: 206px;
    background: #454654 center / 95px 95px no-repeat;

    margin-bottom: 10px;
}

.product__title {
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 37px;

    padding-bottom: 5px;
}

.product__text {
    line-height: 22px;

    padding-bottom: 6px;
}

.product__title,
.product__text {
    color: #454654;
}

.product__link {
    text-transform: uppercase;
    color: #EB3F57;

    font-weight: 700;
    font-size: 14px;
    line-height: 19px;

    border-bottom: 2px solid #EB3F57;
    padding-bottom: 3px;
}

.product__link:hover {
    border-bottom: none;
}

/* Contact */
.contact {
    padding-top: 118px;
    padding-bottom: 137px;
}

.contact__inner {
    display: flex;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.contact__form {
    width: 60%;
    padding: 62px 70px 36px 40px;
}

.contact__form-title {
    text-transform: capitalize;
    padding-bottom: 15px;
}

.contact__form-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;

    color: #67748E;

    padding-bottom: 73px;
}

.contact__field-title {
    font-weight: 700;
    font-size: 12px;
    color: #252F40;

    padding-bottom: 6px;
}

.contact__field-title ~ .contact__field-title {
    padding-top: 28px;
}

.contact__field {
    line-height: 30px;

    resize: none;
    background-color: #F5F5FA;
    border-radius: 15px;
    border: none;

    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5),
        inset 2px 2px 4px rgba(170, 170, 204, 0.25),
        inset 5px 5px 10px rgba(170, 170, 204, 0.5),
        inset -5px -5px 10px #FFFFFF;

    width: 100%;
    padding: 5px 0 5px 32px;
}

.contact__field,
.contact__field::placeholder {
    color: #7878AB;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.contact__send-btn {
    display: inline-block;
    margin-top: 26px;
    float: right;
}

.contact__info {
    padding-top: 175px;
    padding-right: 36px;

    color: #fff;

    flex-grow: 1;
    background:
        url(images/contact/contact-overlay.png) 0% 0% / auto 100% no-repeat,
        linear-gradient(104.58deg, rgb(235, 63, 94, 0.7) -2.26%, rgb(17, 8, 67, 0.7) 47.46%),
        url(images/contact/contact.jpg) 0% 0% / cover no-repeat;
}

.contact__info-wrapper {
    width: 365px;
    margin-left: 124px;
}

.contact__info-title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    /* line-height: 0px; */
    text-transform: capitalize;
    color: inherit;

    padding-bottom: 8px;
}

.contact__info-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    padding-bottom: 34px;
}

.contact__info-item {
    display: flex;
    gap: 16px;
    padding-left: 5px;

    font-weight: 300;
    font-size: 14px;
    line-height: 7px;
    color: rgba(255, 255, 255, 0.8);
}

.contact__info-item div::before {
    content: " ";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 15px;

    background-position: center;
    background-repeat: no-repeat;
}

.contact__phone::before {
    background-image: url(images/contact/phone.svg);
}

.contact__email::before {
    background-image: url(images/contact/envelope.svg);
}

.contact__location::before {
    background-image: url(images/contact/location.svg);
}

.contact__info-item + .contact__info-item {
    padding-top: 25px;
}

.contact__socials {
    padding-top: 54px;
    padding-left: 15px;

    display: flex;
    gap: 37px;
}

/* End of Home page */


/* Responsive code */
.mobile {
    display: none;
}


/* Tablet breakpoint */
@media(max-width: 768px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: initial;
    }
}